<a href="https://colab.research.google.com/github/LeMinhTruong16/AI/blob/main/BaiTap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
value1 = input ('nhập vào số thứ 1')


value2 = input ('nhập vào số thứ 2')

nhập vào số thứ 110
nhập vào số thứ 28

In [2]:
value1 + value2

'108'

In [3]:
value1 = int(value1)
value2 = int(value2)
value1 + value2

18

In [8]:
#write to File
with open('text.txt',mode = 'w') as accounts:
  accounts.write('20146168 LeMinhT 10\n')
  accounts.write('20146169 LeMinhB 8\n')
  accounts.write('20146167 LeMinhC 6\n')

In [10]:
with open('text.txt',mode='V')as accounts:
  # đọc và lưu vào bộ nhớ điệm
  print(F"{'MSSV}':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    MSSV, Name , score = record.split()
    print(F"{'MSSV}':<10}{'Name':<20}{'Score':>2}")

ValueError: ignored

In [22]:
import pandas as pd
url = 'dlieu2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV      Ho va ten        Khoa  Diem
0     1  20146187   Nguyen Van B  Co khi may    10
1     2  20148461   Nguyen Van C         CKD     9
2     3  21125432   Nguyen Van D         CKD     7
3     4  21143215   Nguyen Van B  Thoi trang     8
4     5  22149731   Nguyen Van C        Dien     8
5     6  22123456   Nguyen Van B        Dien     9
6     7  21122156   Nguyen Van B         CKD     4
7     8  19126325   Nguyen Van D        Dien     5
8     9  19125478   Nguyen Van B  Thoi trang     6
9    10  18143156   Nguyen Van D        CNTP     7
10   11  20111123  Nguyen Quoc A        Dien     8
11   12  20111124       Le Van B  Thoi trang     9
12   13  18111125   Nguyen Van B        CNTP    10
13   14  20111126  Nguyen Quoc A         CKD     9
14   15  20111326   Nguyen Van B        CNTP    10
15   16  20111324       Le Van B  Thoi trang     7
16   17  18111534  Nguyen Quoc A  Thoi trang     6
17   18  17111654       Le Van B         CKD     5
18   19  19111564       Le Van B        CNTP     7
19   20  21111425  Nguyen Quoc A        Dien     8

In [23]:
dataframe = dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['Nguyen Van B']

              STT      MSSV     Ho va ten        Khoa  Diem
Ho va ten
Nguyen Van B    1  20146187  Nguyen Van B  Co khi may    10
Nguyen Van B    4  21143215  Nguyen Van B  Thoi trang     8
Nguyen Van B    6  22123456  Nguyen Van B        Dien     9
Nguyen Van B    7  21122156  Nguyen Van B         CKD     4
Nguyen Van B    9  19125478  Nguyen Van B  Thoi trang     6
Nguyen Van B   13  18111125  Nguyen Van B        CNTP    10
Nguyen Van B   15  20111326  Nguyen Van B        CNTP    10

In [24]:
dataframe[dataframe['Khoa']=='Co khi may'].head(15)

              STT      MSSV     Ho va ten        Khoa  Diem
Ho va ten
Nguyen Van B    1  20146187  Nguyen Van B  Co khi may    10

In [25]:
dataframe[dataframe['MSSV']=='20111326'].head(15)

Empty DataFrame
Columns: [STT, MSSV, Ho va ten, Khoa, Diem]
Index: []

In [27]:
dataframe[(dataframe['Khoa']=='Cơ khi may')&(dataframe['Ho va ten']=='Nguyen Van B')]

Empty DataFrame
Columns: [STT, MSSV, Ho va ten, Khoa, Diem]
Index: []

In [28]:
dataframe.roplace('')

AttributeError: ignored

In [31]:
print('điểm cao nhât:', dataframe['Diem'].max())

điểm cao nhât: 10

In [32]:
print('điểm cao nhât:', dataframe['Diem'].min())

điểm cao nhât: 4

In [35]:
print('điểm cao nhât:', dataframe['Diem'].mean
      ())

điểm cao nhât: 7.6

In [34]:
dataframe.drop('MSSV',axis=1).head(10)

              STT     Ho va ten        Khoa  Diem
Ho va ten
Nguyen Van B    1  Nguyen Van B  Co khi may    10
Nguyen Van C    2  Nguyen Van C         CKD     9
Nguyen Van D    3  Nguyen Van D         CKD     7
Nguyen Van B    4  Nguyen Van B  Thoi trang     8
Nguyen Van C    5  Nguyen Van C        Dien     8
Nguyen Van B    6  Nguyen Van B        Dien     9
Nguyen Van B    7  Nguyen Van B         CKD     4
Nguyen Van D    8  Nguyen Van D        Dien     5
Nguyen Van B    9  Nguyen Van B  Thoi trang     6
Nguyen Van D   10  Nguyen Van D        CNTP     7

In [42]:
dataframe.drop(['Diem','Khoa'],axis=1).head(10)

              STT      MSSV     Ho va ten
Ho va ten
Nguyen Van B    1  20146187  Nguyen Van B
Nguyen Van C    2  20148461  Nguyen Van C
Nguyen Van D    3  21125432  Nguyen Van D
Nguyen Van B    4  21143215  Nguyen Van B
Nguyen Van C    5  22149731  Nguyen Van C
Nguyen Van B    6  22123456  Nguyen Van B
Nguyen Van B    7  21122156  Nguyen Van B
Nguyen Van D    8  19126325  Nguyen Van D
Nguyen Van B    9  19125478  Nguyen Van B
Nguyen Van D   10  18143156  Nguyen Van D

In [44]:
dataframe[dataframe['Ho va ten']!='Nguyen van B'].head(10)

              STT      MSSV     Ho va ten        Khoa  Diem
Ho va ten
Nguyen Van B    1  20146187  Nguyen Van B  Co khi may    10
Nguyen Van C    2  20148461  Nguyen Van C         CKD     9
Nguyen Van D    3  21125432  Nguyen Van D         CKD     7
Nguyen Van B    4  21143215  Nguyen Van B  Thoi trang     8
Nguyen Van C    5  22149731  Nguyen Van C        Dien     8
Nguyen Van B    6  22123456  Nguyen Van B        Dien     9
Nguyen Van B    7  21122156  Nguyen Van B         CKD     4
Nguyen Van D    8  19126325  Nguyen Van D        Dien     5
Nguyen Van B    9  19125478  Nguyen Van B  Thoi trang     6
Nguyen Van D   10  18143156  Nguyen Van D        CNTP     7

In [45]:
dataframe.drop_duplicates().head(10)

              STT      MSSV     Ho va ten        Khoa  Diem
Ho va ten
Nguyen Van B    1  20146187  Nguyen Van B  Co khi may    10
Nguyen Van C    2  20148461  Nguyen Van C         CKD     9
Nguyen Van D    3  21125432  Nguyen Van D         CKD     7
Nguyen Van B    4  21143215  Nguyen Van B  Thoi trang     8
Nguyen Van C    5  22149731  Nguyen Van C        Dien     8
Nguyen Van B    6  22123456  Nguyen Van B        Dien     9
Nguyen Van B    7  21122156  Nguyen Van B         CKD     4
Nguyen Van D    8  19126325  Nguyen Van D        Dien     5
Nguyen Van B    9  19125478  Nguyen Van B  Thoi trang     6
Nguyen Van D   10  18143156  Nguyen Van D        CNTP     7

In [46]:
import pandas as pd
url = 'dlieu2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV      Ho va ten        Khoa  Diem
0     1  20146187   Nguyen Van B  Co khi may    10
1     2  20148461   Nguyen Van C         CKD     9
2     3  21125432   Nguyen Van D         CKD     7
3     4  21143215   Nguyen Van B  Thoi trang     8
4     5  22149731   Nguyen Van C        Dien     8
5     6  22123456   Nguyen Van B        Dien     9
6     7  21122156   Nguyen Van B         CKD     4
7     8  19126325   Nguyen Van D        Dien     5
8     9  19125478   Nguyen Van B  Thoi trang     6
9    10  18143156   Nguyen Van D        CNTP     7
10   11  20111123  Nguyen Quoc A        Dien     8
11   12  20111124       Le Van B  Thoi trang     9
12   13  18111125   Nguyen Van B        CNTP    10
13   14  20111126  Nguyen Quoc A         CKD     9
14   15  20111326   Nguyen Van B        CNTP    10
15   16  20111324       Le Van B  Thoi trang     7
16   17  18111534  Nguyen Quoc A  Thoi trang     6
17   18  17111654       Le Van B         CKD     5
18   19  19111564       Le Van B        CNTP     7
19   20  21111425  Nguyen Quoc A        Dien     8

In [50]:
dataframe.groupby('Khoa').count()
dataframe.groupby(['Khoa','Diem']).count()

                 STT  MSSV  Ho va ten
Khoa       Diem
CKD        4       1     1          1
           5       1     1          1
           7       1     1          1
           9       2     2          2
CNTP       7       2     2          2
           10      2     2          2
Co khi may 10      1     1          1
Dien       5       1     1          1
           8       3     3          3
           9       1     1          1
Thoi trang 6       2     2          2
           7       1     1          1
           8       1     1          1
           9       1     1          1

In [55]:

import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000) #chạy ngẩu nhiên bước 10 từ 1-1000000
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14208
2023-01-08        100742
2023-01-15        100324
2023-01-22        100624
2023-01-29        100611
2023-02-05         82511

In [56]:
dataframe.resumple('2W').mean()
dataframe.resumple('M').mean()

AttributeError: ignored

In [60]:
import pandas as pd
url = 'http://Winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [64]:
# bài tập trên lớp
# tìm số lượng huy chương của USA
# tìm số lượng huy chương vàng theo môn thi cá nhân

dulieu= data[(data['NOC']=='USA')]
print('số lượng huy chương',dulieu['Medal'].count())

số lượng huy chương vàng 216

In [70]:

data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân:",data1['Event'].count())

Số huy chương chương vàng theo môn cá nhân: 65